.header{
  background-color: transparent;
  background-image: url(../imagen/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  
}
h3 {
  align-content: center;
  text-align: center;
  text-decoration: none;
  border: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  padding: 2em;
  font-size: xx-large;
  
}
.rowdiv{
  color: white;
  align-content: center;
  border: transparent;
}
.coldiv{
  text-align: right;
  margin-right: 0em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  padding: 4em;
  border: transparent;
}
i{
  color: rgb(255, 255, 255);
  padding-right: 2em;
}
i::after{
  transform: scale(.5);
}
.menu{
  position: absolute;
  top: 6em;
  right: 6px;
  color: white;
  padding: 10px 20px;
  background: rgb(181, 98, 214);
  width: 150px;
  box-shadow: 0 5px 25px;
  border-radius:  5px;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
 
}

.menu.active{
  visibility: visible;
  opacity: 80%;
}
.menu.inactive{
  visibility:hidden;
  opacity: 0%;
}
ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  opacity: 0.8;
  
}
.menu li:hover{
 opacity: 1;
 color:rgb(254, 255, 255);

 transition: 20ms; 
}
a{
  text-decoration: none;
  color: white;

}