img{
    width: 50%;
    
    
}
.micard{
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.card {
    
    text-decoration: solid;
    text-decoration-color: black;
    border-radius: 5px;
}
.card-img-top {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
